*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right bottom, rgb(173, 49, 250), rgb(28, 187, 250));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 0.5px solid white;
    width: 400px;
    padding: 35px 30px;
    border-radius: 10px;
    box-shadow:  3px 3px 3px rgba(9, 14, 16, 0.3), -3px -3px 3px rgba(9, 14, 16, 0.3);
    backdrop-filter: blur(60px);
}

.container header{
   text-align: center;
    margin-bottom: 25px;
}
#list label{
    font-size: 18px;
    font-weight: 600;
}
#list input{
    width: 100%;
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
}
#list span{
    color: rgb(95, 235, 97);
}
#list{
    margin-bottom: 8px;
    position: relative;
}

#btn{
    background-color: rgb(37, 118, 96);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
#btn:hover{
    background-color: rgb(30, 94, 77);
}
.in{
    margin-top: 20px;
}

footer{
    margin-top: 8px;
    text-align: center;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
footer a:hover{
    text-decoration: underline;
}
#list i{
    color: rgb(95, 235, 97);
    position: absolute;
    right: 8px;
    top: 36px;
}